 
/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #227ff8;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}

.back-to-top i {
  font-size: 24px;
  padding-top: 6px;
}

.back-to-top:focus {
  background: #1c6dd6;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #1c6dd6;
  color: #fff;
}

.header.header-scrolled {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
}